:root {
  --white: #ffffff;
  --eggshell: #f4f1deff;
  --terra-cotta: #e07a5fff;
  --independence: #3d405bff;
  --green-sheen: #62a5a1;
  --deep-champagne: #f2cc8fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

.card-section {
  position: relative;
}

.card-header-title {
  background-color: var(--terra-cotta);
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  width: 80%;
  position: relative;
  /* left: 50%; */
  transform: translate(-50%, -50%);
}
.card-footer {
  border-style: none;
}

.card-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  width: 300px;
  transition: all 0.2s ease-in-out;
}
.recipe-card:hover {
  border: var(--green-sheen) solid 3px;
  box-shadow: 0 0 10px 5px var(--green-sheen);
  /* box-shadow: 0 1rem 4rem 0 var(--deep-champagne),
    0 1rem 4rem 0 var(--terra-cotta); */
  /* transform: scale(1.1); */
}

.card-footer-item i {
  padding: 0.5rem;
}

/* toast css */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.toast-show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Media Query */
@media only screen and (max-width: 768px) {
  .carousel-image-div img {
    width: 280px;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-section {
    display: none;
  }

  .card-container {
    margin-top: 40px;
    flex-direction: column;
    margin: 30px;
    /* max-width: 80%; */
  }
}
