:root {
}

body {
  box-sizing: border-box;
}

.carousel-section {
  margin-top: 3rem;
}

.carousel-image-div,
.carousel-image-div img {
  width: 250px;
  padding: 5px;
}

.card-section {
  position: relative;
}

.card-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  width: 300px;
}

@media only screen and (max-width: 768px) {
  .carousel-image-div img {
    width: 280px;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-container {
    display: none;
  }

  .card-container {
    margin-top: 40px;
    flex-direction: column;
    margin: 30px;
  }
}
