:root {
  --white: #ffffff;
  --eggshell: #f4f1deff;
  --terra-cotta: #e07a5fff;
  --independence: #3d405bff;
  --green-sheen: #62a5a1;
  --deep-champagne: #f2cc8fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

.carousel-section {
  margin-top: 3rem;
}

.carousel-image-div,
.carousel-image-div img {
  width: 250px;
  padding: 5px;
}

.card-section {
  position: relative;
}

.card-header-title {
  background-color: var(--terra-cotta);
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-footer {
  border-style: none;
}

.card-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--eggshell);
}

.recipe-card {
  width: 300px;
  transition: all 0.2s ease-in-out;
}
.recipe-card:hover {
  border: var(--green-sheen) solid 3px;
  box-shadow: 0 0 10px 5px var(--green-sheen);
  /* box-shadow: 0 1rem 4rem 0 var(--deep-champagne),
    0 1rem 4rem 0 var(--terra-cotta); */
  /* transform: scale(1.1); */
}

@media only screen and (max-width: 768px) {
  .carousel-image-div img {
    width: 280px;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-container {
    display: none;
  }

  .card-container {
    margin-top: 40px;
    flex-direction: column;
    margin: 30px;
  }
}
