:root {
  /* coolors go here */
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Pacifico", cursive;
}

/* css for recipes.html */

.recipe-name {
  border: solid black;
  margin-top: 5rem;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-img {
  margin: 3rem;
  height: 350px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.add-to-favorites {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 200px;
  font-size: 1.5rem;
  font-weight: 600px;
}
