:root {
  --white: #ffffff;
  --terra-cotta: #e07a5fff;
  --independence: #3d405bff;
  --green-sheen: #62a5a1;
  --deep-champagne: #f2cc8fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.5px;
}

/* navbar styling */
.navbar {
  background-color: var(--green-sheen);
  padding: 1rem;
}

.navbar-logo img {
  min-height: 1.5rem;
  margin: 0 2rem;
}
.navbar-item {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  color: white;
  font-size: 1.5rem;
}

a.navbar-item:hover {
  background-color: var(--green-sheen);
  color: var(--terra-cotta);
}

.main {
  margin: 10rem 3rem;
}

.input {
  width: 25rem;
}

/* cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.card {
  width: 24rem;
  margin-top: 5rem;
}

.card-header-title {
  justify-content: center;
}

/* recipe cards styling */
/* .recipe-card:hover {
  padding: 1rem;
  border: var(--terra-cotta) solid 3px;
  border-radius: 10px;
} */
.card-header {
  box-shadow: none;
}
.card-footer {
  border: none;
}
.recipe-title {
  background-color: var(--terra-cotta);
  color: var(--white);
  font-size: 1.2rem;
  position: relative;
  max-width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.green-outline {
  font-size: 1.2rem;
  color: var(--green-sheen);
  border-color: var(--green-sheen);
  position: relative;
  left: 20%;
  transform: translate(-50%, -30%);
}

.green-outline:hover {
  color: var(--white);
  background-color: var(--green-sheen);
}

.recipe-footer {
  justify-content: center;
}

.recipe-img {
  position: relative;
}

.recipe-img-icon-container {
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: absolute;
  text-align: center;
  background: transparent;
  top: 0;
  right: 0;
}

.bookmark-icon,
.info-icon {
  padding: 1rem;
  color: var(--green-sheen);
}

.bookmark-icon:hover,
.info-icon:hover {
  color: var(--terra-cotta);
}

.nutrition-label {
  display: none;
  flex-direction: row;
  z-index: 6;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 10px;
}

.displayed {
  display: flex;
}

.nutrient-col {
  border-right: var(--green-sheen) solid 1px;
}

/* recipes page styling */

.servings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.servings {
  display: flex;
}
/* tablet properties */
@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    background-color: var(--green-sheen);
  }
}

/* mobile properties */
@media screen and (max-width: 576px) {
  .main {
    margin: 5rem 1.5rem;
  }

  .input {
    width: 15rem;
  }
  .navbar-logo img {
    margin: 0;
  }
  .card-container {
    flex-direction: column;
    align-content: center;
  }

  .card {
    max-width: 16rem;
    margin-top: 2rem;
  }
}
