:root {
  --black: #000000;
  --white: #ffffff;
  --terra-cotta: #e07a5fff;
  --independence: #3d405bff;
  --green-sheen: #62a5a1;
  --deep-champagne: #f2cc8fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.background-img {
  height: 500px;
  background-image: url(/assets/images/fork.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.background-img-menu {
  height: 500px;
  background-image: url(/assets/images/knife-fork.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.center-content {
  margin: 5rem 10rem;
  justify-content: space-around;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.5px;
}
.sub-title {
  font-size: 40px;
}
.sub-title-menu {
  font-size: 30px;
}
.caption {
  font-size: 20px;
}

/* navbar styling */
.navbar {
  background-color: var(--green-sheen);
  padding: 1rem;
}

.navbar-logo img {
  min-height: 1.5rem;
  margin: 0 2rem;
}
.navbar-item {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  color: white;
  font-size: 1.5rem;
}

a.navbar-item:hover {
  background-color: var(--green-sheen);
  color: var(--terra-cotta);
}

/* accordion styling */
.accordions .accordion .accordion-header {
  background-color: var(--deep-champagne);
  justify-content: center;
}

/* test */
.index-form {
  margin-top: 6rem;
  min-width: 20rem;
}
.menu-form {
  margin-top: 4rem;
  min-width: 20rem;
}

.search {
  width: 100%;
  display: flex;
}

.image img.is-rounded {
  height: 8rem;
}

.searchTerm {
  width: 100%;
  border: 3px solid var(--black);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: var(--terra-cotta);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: var(--black) 1px solid;
  background: var(--black);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton:hover {
  color: var(--terra-cotta);
}

.advance-search-btn {
  border: none;
  box-shadow: none;
  color: var(--terra-cotta);
  background-color: transparent;
}

.advance-search-btn:hover {
  color: var(--black);
}

.main-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.section-title {
  margin: 20px auto;
  text-align: center;
  color: black;
  font-size: 35px;
  max-width: 600px;
  position: relative;
}

.section-title:before {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: var(--terra-cotta);
  left: -60px;
  top: 40%;
  position: absolute;
}
.section-title:after {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: var(--terra-cotta);
  right: -60px;
  top: 40%;
  position: absolute;
}

.high-rated-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.high-rated-recipe {
  display: flex;
  padding: 1rem;
}
.centralising-content {
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.user-search-text {
  margin-top: 11rem;
  font-size: 40px;
}
/* test */
.menu-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 16rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button.is-success {
  background-color: var(--green-sheen);
  border-color: transparent;
  color: #fff;
}
.button.is-success:hover {
  background-color: var(--terra-cotta);
}
.menu-card-container:hover {
  transform: scale(1.1);
}
.checkbox {
  padding: 1rem;
}
.modal-card-title {
  color: var(--terra-cotta);
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.5px;
}

.menu-card-body {
  position: relative;
  padding: 1rem;
  height: 16rem;
}

.menu-card-title {
  font-size: 40px;
}
.menu-icon-container {
  display: flex;
  flex-direction: row;
}
.menu-icon {
  border: var(--black) solid 1px;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  text-align: center;
  padding-top: 14px;
}
.menu-icon-info {
  color: var(--green-sheen);
  border-color: var(--green-sheen);
}
.menu-icon-love {
  border-color: var(--green-sheen);
}
.menu-icon-love:hover {
  color: var(--green-sheen);
  background-color: red;
  border-color: red;
}
.fa-heart {
  color: red;
}
.fa-heart:hover {
  color: var(--green-sheen);
  padding-top: 5px;
  transform: scale(2);
}

.menu-br {
  position: relative;
  text-align: right;
  font-size: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.menu-br:before {
  content: "";
  display: block;
  width: 110px;
  height: 5px;
  background: var(--terra-cotta);
  left: 3px;
  bottom: 50%;
  position: absolute;
}
.menu-br:hover {
  cursor: pointer;
  color: var(--terra-cotta);
  transform: scale(1.1);
}
.menu-card-img {
  width: 10rem;
  height: 10rem;
}
.menu-img img {
  padding-top: 1rem;
  object-fit: none;
  height: 16rem;
}

/* test end */

/* cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  /* height: 17rem; */
}

.card {
  width: 18rem;
  margin-top: 5rem;
}

.card-header-title {
  justify-content: center;
}

.card-header {
  box-shadow: none;
}
.card-footer {
  border: none;
}
.recipe-title {
  background-color: var(--terra-cotta);
  color: var(--white);
  font-size: 1.2rem;
  position: relative;
  max-width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.recipe-img {
  position: relative;
}
.green-outline {
  font-size: 1.2rem;
  color: var(--green-sheen);
  border-color: var(--green-sheen);
  position: relative;
  left: 20%;
  transform: translate(-50%, -30%);
}

.small-screen-button {
  background: transparent;
}
.recipe-img-icon-container button {
  border: none;
  box-shadow: none;
}
.add-to-favourites:hover,
.green-outline:hover {
  color: var(--white);
  background-color: var(--green-sheen);
}

.recipe-footer {
  justify-content: center;
}

.recipe-img {
  position: relative;
}

.recipe-img-icon-container {
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: absolute;
  text-align: center;
  background: transparent;
  top: 0;
  right: 0;
}

.bookmark-icon,
.info-icon {
  padding: 1rem;
  color: var(--green-sheen);
}

.bookmark-icon:hover,
.info-icon:hover {
  color: var(--terra-cotta);
}

.nutrition-label {
  display: none;
  top: 5%;
  flex-direction: row;
  z-index: 6;
  position: absolute;
  left: 12%;
  text-align: center;
  background-color: var(--white);
  border-radius: 10px;
}

.displayed {
  display: flex;
}

.nutrient-col {
  border-right: var(--green-sheen) solid 1px;
}

/* recipes page styling */

.servings-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.servings-tab {
  border: var(--white) solid 1px;
  border-radius: 10px 10px 0 0;
}

.servings-tab:hover {
  cursor: pointer;
  background-color: var(--green-sheen);
}

.servings-tab:active {
  color: var(--terra-cotta);
  border-bottom: 0;
}
.servings-tab a {
  text-align: center;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: black;
}

.recipe-info-container {
  display: flex;
  flex-direction: row;
}

.recipe-info-box {
  display: flex;
  flex-direction: column;
}

.recipe-info,
.servings {
  display: flex;
  justify-content: center;
}

.container {
  margin: 2rem;
}
.desc-container {
  background-color: var(--deep-champagne);
  padding: 1rem;
}

.method-container {
  background-color: var(--deep-champagne);
  padding: 1rem;
}

.ingredients-container {
  background-color: var(--terra-cotta);
  padding: 1rem;
}

.prep-time-heading {
  font-size: 2rem;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* toast css */
#toast {
  visibility: hidden;
  width: 50%;
  background-color: var(--green-sheen);
  color: var(--white);
  font-weight: bolder;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 20%;
  bottom: 5%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* tablet properties */
@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    background-color: var(--green-sheen);
  }
}

/* mobile properties */
@media screen and (max-width: 576px) {
  .main {
    margin: 5rem 1.5rem;
  }

  .input {
    width: 15rem;
  }
  .navbar-logo img {
    margin: 0;
  }
  .card-container {
    flex-direction: column;
    align-content: center;
  }

  .card {
    max-width: 16rem;
    margin-top: 2rem;
  }
  .add-to-favourites {
    display: none;
  }
  .prep-time-heading {
    font-size: 1.5rem;
  }
  .recipe-info-container {
    flex-direction: column;
  }
  .menu-card-img {
    order: -1;
  }
  .menu-card-img {
    width: 15rem;
  }
  .menu-img img {
    margin-top: 1.5rem;
    object-fit: none;
    width: 15rem;
    height: 10rem;
  }
  .menu-br {
    margin: 0;
  }
}

@media screen and (min-width: 576px) {
  /* .small-screen-button {
    display: none;
  } */
}

@media screen and (max-width: 768px) {
  .high-rated-container {
    flex-direction: column;
    justify-content: center;
  }
  .high-rated-recipe {
    justify-content: center;
  }
  .section-title:before,
  .section-title:after {
    width: 50px;
  }
  .section-title {
    font-size: 30px;
  }
}
