:root {
  --white: #ffffff;
  --terra-cotta: #e07a5fff;
  --independence: #3d405bff;
  --green-sheen: #62a5a1;
  --deep-champagne: #f2cc8fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url(/assets/images/background-img.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.5px;
}

/* navbar styling */
.navbar {
  background-color: var(--green-sheen);
  padding: 1rem;
}

.navbar-logo img {
  min-height: 1.5rem;
  margin: 0 2rem;
}
.navbar-item {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  color: white;
  font-size: 1.5rem;
}

a.navbar-item:hover {
  background-color: var(--green-sheen);
  color: var(--terra-cotta);
}

/* .main {
  margin: 10rem 3rem;
}

.input {
  width: 25rem;
} */

/* accordion styling */
.accordions .accordion .accordion-header {
  background-color: var(--deep-champagne);
  justify-content: center;
}

/* test */
.search {
  width: 100%;
  /* position: relative; */
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid var(--terra-cotta);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: var(--terra-cotta);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: var(--terra-cotta) 1px solid;
  background: var(--terra-cotta);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* .background-img {
  height: 100%;
  background-image: url(/assets/images/background-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
} */

.main-container {
  display: flex;
  justify-content: center;
  text-align: center;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -20%); */
  align-content: center;
}
/* cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  background-color: var(--deep-champagne);
}

.card {
  width: 24rem;
  margin-top: 5rem;
}

.card-header-title {
  justify-content: center;
}

/* recipe cards styling */
/* .recipe-card:hover {
  padding: 1rem;
  border: var(--terra-cotta) solid 3px;
  border-radius: 10px;
} */
.card-header {
  box-shadow: none;
}
.card-footer {
  border: none;
}
.recipe-title {
  background-color: var(--terra-cotta);
  color: var(--white);
  font-size: 1.2rem;
  position: relative;
  max-width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.recipe-img {
  position: relative;
}
.green-outline {
  font-size: 1.2rem;
  color: var(--green-sheen);
  border-color: var(--green-sheen);
  position: relative;
  left: 20%;
  transform: translate(-50%, -30%);
}

.small-screen-button {
  background: transparent;
}
.recipe-img-icon-container button {
  border: none;
  box-shadow: none;
}
.add-to-favourites:hover,
.green-outline:hover {
  color: var(--white);
  background-color: var(--green-sheen);
}

.recipe-footer {
  justify-content: center;
}

.recipe-img {
  position: relative;
}

.recipe-img-icon-container {
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: absolute;
  text-align: center;
  background: transparent;
  top: 0;
  right: 0;
}

.bookmark-icon,
.info-icon {
  padding: 1rem;
  color: var(--green-sheen);
}

.bookmark-icon:hover,
.info-icon:hover {
  color: var(--terra-cotta);
}

.nutrition-label {
  display: none;
  top: 5%;
  flex-direction: row;
  z-index: 6;
  position: absolute;
  left: 12%;
  text-align: center;
  background-color: var(--white);
  border-radius: 10px;
}

.displayed {
  display: flex;
}

.nutrient-col {
  border-right: var(--green-sheen) solid 1px;
}

.footer {
  position: absolute;
  bottom: 0;
}

/* recipes page styling */

.servings-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.servings-tab {
  border: var(--white) solid 1px;
  border-radius: 10px 10px 0 0;
}
.servings-tab:active {
  color: var(--terra-cotta);
  border-bottom: 0;
}
.servings-tab a {
  text-align: center;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: black;
}

.recipe-info-container {
  display: flex;
  flex-direction: row;
}

.recipe-info-box {
  display: flex;
  flex-direction: column;
}

.recipe-info,
.servings {
  display: flex;
  justify-content: center;
}

.container {
  margin: 2rem;
}
.desc-container {
  background-color: var(--deep-champagne);
  padding: 1rem;
}

.method-container {
  background-color: var(--deep-champagne);
  padding: 1rem;
}

.ingredients-container {
  background-color: var(--terra-cotta);
  padding: 1rem;
}

.prep-time-heading {
  font-size: 2rem;
}

/* tablet properties */
@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    background-color: var(--green-sheen);
  }
}

/* mobile properties */
@media screen and (max-width: 576px) {
  .main {
    margin: 5rem 1.5rem;
  }

  .input {
    width: 15rem;
  }
  .navbar-logo img {
    margin: 0;
  }
  .card-container {
    flex-direction: column;
    align-content: center;
  }

  .card {
    max-width: 16rem;
    margin-top: 2rem;
  }
  .add-to-favourites {
    display: none;
  }
  .prep-time-heading {
    font-size: 1.5rem;
  }
  .recipe-info-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) {
  /* .small-screen-button {
    display: none;
  } */
}
