:root {
  --white: #ffffff;
  --terra-cotta: #e07a5fff;
  --independence: #3d405bff;
  --green-sheen: #62a5a1;
  --deep-champagne: #f2cc8fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

/* navbar styling */
.navbar {
  background-color: var(--green-sheen);
  padding: 1rem;
}

.navbar-logo img {
  min-height: 1.5rem;
  margin: 0 2rem;
}
.navbar-item {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  color: white;
  font-size: 1.5rem;
}

a.navbar-item:hover {
  background-color: var(--green-sheen);
  color: var(--terra-cotta);
}

.main {
  margin: 10rem 3rem;
}

.input {
  width: 25rem;
}

/* tablet properties */
@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    background-color: var(--green-sheen);
  }
}

/* mobile properties */
@media screen and (max-width: 576px) {
  .main {
    margin: 5rem 1.5rem;
  }

  .input {
    width: 15rem;
  }
  .navbar-logo img {
    margin: 0;
  }
}

/* css for recipes.html */

.recipe-page-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

.recipe-name {
  border: solid black;
  margin-top: 5rem;
  margin: 2rem;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Pacifico", cursive;
}

.recipe-img {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.add-to-favorites {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
  width: 700px;
  font-size: 1.5rem;
  font-weight: 600px;
  border: solid black;
  border-radius: 15px;
  margin: 3rem;
  margin-left: 3rem;
}

.ingredient-card {
  border: solid black;
  padding: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.ingredients-title {
  margin-bottom: 3rem;
}

.method-card {
  border: solid black;
  padding: 4px;
  margin: 2rem;
}

.method-card-title {
  margin-bottom: 2rem;
}

.method-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;

  font-weight: 2rem;
}

.nutrition-card {
  border: solid black;
  padding: 4px;
  margin: 2rem;
}

.nutrition-subtitle {
  margin-top: 2rem;
}

.method-nutrition-cards {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 576px) {
  .recipe-page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }

  .method-nutrition-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
  }
  .add-to-favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.recipe-img {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

@media screen and (max-width: 768px) {
  .recipe-page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }

  .method-nutrition-cards {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }

  .add-to-favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.recipe-img {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


}
